<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    
  
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    
        <a mat-list-item  routerLink="/members"> <mat-icon>perm_identity</mat-icon>Members</a>
        <a mat-list-item  routerLink="/tools"> <mat-icon>extension</mat-icon>Tools</a>
        <a mat-list-item  routerLink="/articles">  <mat-icon> insert_drive_file </mat-icon> Articles</a>
        <a mat-list-item  routerLink="/Events"><mat-icon>event</mat-icon>Events</a>
  </mat-nav-list>
  