
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Members</div>
  <div class="page__content shadow p-3 position-relative">
   

  
<div fxLayout="row" fxLayoutAlign="end center"  >
  <button (click)="open(mymodal)" mat-button color="primary" > <mat-icon>add </mat-icon> Create New  </button>
</div>

<!-- <mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field> -->

<div class="content" >
 
  
  <div class="table-responsive-sm mb-0" id="div">
      <table class="table table-striped" >
          <thead>
              <tr style=" color: #94a3b8 ;" >
                
                  <th scope="col" class="h4">ID</th>
                  <th scope="col" class="h4">CIN</th>
                  <th scope="col" class=" h4" >NAME</th>                     
                  <th scope="col" class="th-lg h4" style="text-align:right ">CV</th>
                  <th scope="col" class="th-lg h4" style="text-align:right">TYPE</th>
                  <th scope="col" class="th-lg h4" style="text-align:right">Created Date</th>         
                


              </tr>
                                     
          </thead>
          <tbody>
              <tr *ngFor="let element of dataSource ;">
                  <th   scope="row">{{ element.id }}</th>
                  <th>{{ element.cin }}</th>
                  <th>{{ element.name }}</th>
                  <th class="th-xs ml-0" style="text-align:right;" > {{ element.name }}</th>
                  <th class ="th-lg"style="text-align:right; font-weight: normal;o" > {{ element.cv }}</th>
                  <th style="text-align:right;">{{ element.type }}</th>
                  <th style="text-align:right;font-weight: normal;">{{element.createdDate}}</th>
                  

              </tr>
          </tbody>
          
          
      </table>


  </div>
 

  

</div> 


<ng-template #mymodal let-modal>
  <div class="modal-header text-center">
    <h2 class="modal-title w-100" id="modal-basic-title">Add Member</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
     

      <div class="row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="cin">Cin</label>
            <input formControlName="cin" type="cin" class="form-control" id="cin">
            <!-- <small *ngIf="ajouterPaiement.get('date').invalid && ajouterPaiement.get('date').touched"
              class="text-danger">La date est obligatoire</small> -->

          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="name" class="form-control" id="name">
            <!-- <small *ngIf="ajouterPaiement.get('date_effet').invalid && ajouterPaiement.get('date_effet').touched"
              class="text-danger">La date est obligatoire</small> -->
          </div>
        </div>

      </div>


      <div class="row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="cv">Cv</label>
            <input formControlName="cv" type="cv" class="form-control" id="cv">
            <!-- <small *ngIf="ajouterPaiement.get('date').invalid && ajouterPaiement.get('date').touched"
              class="text-danger">La date est obligatoire</small> -->

          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="type">Type</label>
            <input formControlName="type" type="type" class="form-control" id="type">
            <!-- <small *ngIf="ajouterPaiement.get('date_effet').invalid && ajouterPaiement.get('date_effet').touched"
              class="text-danger">La date est obligatoire</small> -->
          </div>
        </div>

      </div>




    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button style="color: #818cf8;" class="btn  btn-outline btn-lg" (click)="ONSUB()  ;  modal.close('Save click')">Validate</button>
  </div>
</ng-template>

<ng-template #editmodal let-modal>
  <div class="modal-header text-center">
    <h2 class="modal-title w-100" id="modal-basic-title">Edit Member</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
     

      <div class="row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="cin">Cin</label>
            <input formControlName="cin" type="cin" class="form-control" id="cin">
            <!-- <small *ngIf="ajouterPaiement.get('date').invalid && ajouterPaiement.get('date').touched"
              class="text-danger">La date est obligatoire</small> -->

          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="name" class="form-control" id="name">
            <!-- <small *ngIf="ajouterPaiement.get('date_effet').invalid && ajouterPaiement.get('date_effet').touched"
              class="text-danger">La date est obligatoire</small> -->
          </div>
        </div>

      </div>


      <div class="row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="cv">Cv</label>
            <input formControlName="cv" type="cv" class="form-control" id="cv">
            <!-- <small *ngIf="ajouterPaiement.get('date').invalid && ajouterPaiement.get('date').touched"
              class="text-danger">La date est obligatoire</small> -->

          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="type">Type</label>
            <input formControlName="type" type="type" class="form-control" id="type">
            <!-- <small *ngIf="ajouterPaiement.get('date_effet').invalid && ajouterPaiement.get('date_effet').touched"
              class="text-danger">La date est obligatoire</small> -->
          </div>
        </div>

      </div>




    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button class="btn  btn-outline-success btn-lg" (click)="ONEDIT()  ;  modal.close('Save click')">Validate</button>
  </div>
</ng-template>
  
</div>
</div>

